/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Circular Std', sans-serif;
    flex-wrap: nowrap;
}

.flex{
    display: flex;
}

nav#main-nav{
    width: 250px;
    height: 90vh;
    background-color: #000000;
}

main section#main-section{
    width: 100%;
    height: 90vh;
    background-color: #141922;
}

main section#main-section div#top-subscription{
    width: 100%;
    height: 80px;
    background-color: black;
    opacity: 0.3;
    align-items: flex-start;
    z-index: 2;
}

footer#song-info{
    width: 100%;
    height: 80px;
    min-height: 80px;
    background-color: #282828;
}